@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.reset {
  boder: none;
  outline: none;
}
.reset:focus .reset:hover {
  boder: none;
  outline: none;
}

.hidden-scroll:webkit-scrollbar {
  display: none;
}

.hidden-scroll::-webkit-scrollbar {
  width: 0px;
}

.hidden-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.hidden-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

.bd-radius-scroll::-webkit-scrollbar {
  border-radius: 10px;
}
.bd-radius-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.bd-radius-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #4299e1;
}

*::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

.height-expand-scroll::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

#root .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #1f2937;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar svg {
  color: #fff;
}
#root .ql-snow.ql-toolbar {
  display: block;
  background: #ccc;
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#root .ql-editor {
  min-height: 18em;
  height: 100% !important;
}
.ck.ck-reset.ck-editor.ck-rounded-corners {
  border-radius: 0.5em;
  overflow: hidden;
  border: solid 1px #ccc !important;
  height: 100% !important;
}

.ckeditor-container {
  height: 100% !important;

  ul {
    margin: 1em 0;
    padding: 0 0 0 40px;
  }

  ul li {
    margin: 0;
    padding: 0;
    list-style-type: disc;
  }

  ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
  }

  ol li {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
  }

  i {
    font-style: italic;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
    color: #4299e1;
    cursor: pointer;
  }

  div {
    background: transparent !important;
    border: none !important;
  }
  button:hover {
    background: #909090 !important;
    cursor: pointer;
  }
  .ck.ck-sticky-panel__content {
    background: #ccc !important;

    svg {
      color: #757575;
    }
    span {
      color: #757575;
    }
  }

  .ck-content {
    min-height: 20rem;
  }
}

.apexcharts-menu.apexcharts-menu-open {
  font-family: "Roboto", "Helvet", "Helvetica Neue";
  background-color: #7f8894 !important;
  border: none !important;
  color: #000 !important;
  padding: 0 !important;

  .apexcharts-menu-item {
    padding: 0.5rem 1rem !important;
    margin: 0 !important;
  }
}

.apexcharts-text.apexcharts-yaxis-label {
  title {
    color: #a3aed0 !important;
  }
}

.load_init {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.load_init > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.load_init div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.load_init div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.load_init div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.load_init div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.load_init div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.load_init div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
.from-left-animation {
  opacity: 0;
  animation: from-left 0.3s linear forwards;
}

@keyframes from-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
    z-index: 0;
  }
  to {
    transform: translateX(0);
    z-index: 10;
    opacity: 1;
  }
}

.animation-delay-150 {
  animation-delay: 0.2s;
}

// load ding
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }